h2{
    font-size: 3rem; /*mesure relative pour augmenter la taille de la police*/
    text-align: center; /*le mot se positionne au milieu*/
}

h1{
    font-size: 5rem; /*mesure relative pour augmenter la taille de la police*/
    text-align: center; /*le mot se positionne au milieu*/
}

html{
    background-color: palevioletred;
    font-size: 14pt;
    width: 100vw;
}

#page {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 2px solid;
    
}
/*
ID (#): Identifie de manière unique un élément sur la page. Chaque page doit avoir un seul élément avec un ID spécifique.
Class (.): Regroupe plusieurs éléments ensemble. Vous pouvez appliquer la même classe à plusieurs éléments sur la page.
pour cette raison on utilise class pour .aboutme*/

.aboutme { 
    margin: 10%; /*changement les marges*/
}

.entete {
    text-align: center;
}

footer {
    text-align: center;
    background-color:beige;
    border-top: 2px solid;
}

